<h3>Productos en tiempo real</h3>
<form id="addproduct">
  <h4>Agregar producto</h4>
  <label for="title">Título:</label>
  <input type="text" id="title" name="title" required><br>

  <label for="description">Descripción:</label>
  <textarea id="description" name="description" rows="5" required></textarea><br>

  <label for="price">Precio:</label>
  <input type="number" id="price" name="price" required><br>

  <label for="status">Estado:</label>
  <select id="status" name="status" required>
    <option value="disponible">Disponible</option>
    <option value="agotado">Agotado</option>
  </select><br>

  <label for="category">Categoría:</label>
  <input type="text" id="category" name="category" required><br>

  <label for="thumbnails">Imágenes:</label>
  <input type="text" id="thumbnails" name="thumbnails" required><br>

  <label for="code">Código:</label>
  <input type="text" id="code" name="code" required><br>

  <label for="stock">Stock:</label>
  <input type="number" id="stock" name="stock" required><br>

  <button type="submit">Enviar</button>
</form>

<div id="realtimeproducts">
    {{#each products}}
        <div id="product{{this.id}}">
            <h4>{{this.title}}</h4>
            <img
                src="https://sinteplastconstruccion.com.ar/assets/img/sinteplastconstruccion.com.ar/photos/w300/{{this.thumbnails}}"
                alt="foto producto"
                width="100"
            />
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Imagen: {{this.thumbnails}}</p>
            <p>Código: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
            <input
                type="button"
                class="deleteproduct"
                prodid="{{this.id}}"
                value="Borrar este producto"
            />
        </div>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketClient.js"></script>